.feature__brands__container {
  padding: 70px 0 90px 0;
  // width: 98.5%;
  margin-left: 30px;
  background-color: #f9f9f9;
  border-radius: 100px 0 0 0;

  & > div {
    display: flex;
    width: 1150px;
    // border: 1px solid red;
    margin: auto;
    .brand__cards {
      margin-left: -30px;
      width: 50%;
      // border: 1px solid red;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 17px;
      div {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 15px;
        width: 150px;
        height: 150px;
        img {
          width: 100%;
        }
      }
      :nth-child(1),
      :nth-child(3),
      :nth-child(4),
      :nth-child(6) {
        margin-bottom: -110px;
      }
    }
    .brand__des {
      margin-left: 30px;
      text-align: right;
      // border: 1px solid blue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      width: 50%;
      & > div {
        width: 80%;
        h1 {
          font-size: 37px;
          font-weight: bolder;
        }
        p {
          margin-top: 20px;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
}
