.feature__brands__container {
  padding: 70px 0 90px 0;
  width: 98.5%;
  background-color: #f9f9f9;
  border-radius: 100px 0 0 0;
  display: flex;
  justify-content: center;

  .brand__cards {
    width: 30%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 17px;
    div {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 15px;
      width: 150px;
      height: 150px;
      img {
        width: 100%;
      }
    }
    :nth-child(1) {
      margin-bottom: -110px;
    }
    :nth-child(3) {
      margin-bottom: -110px;
    }
    :nth-child(4) {
      margin-bottom: -110px;
    }
    :nth-child(6) {
      margin-bottom: -110px;
    }
  }
  .brand__des {
    text-align: right;
    padding: 30px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 35%;
    & > div {
      width: 80%;
      h1 {
        font-size: 37px;
        font-weight: bolder;
      }
      p {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
