header {
  // border: 1px solid black;
  width: 80%;
  // float: right;
  display: flex;
  .header__left {
    // border: 1px solid red;
    width: 75%;
    .hero__main {
      // border: 1px solid red;
      display: flex;

      .hero__main_left {
        display: flex;
        flex-direction: column;
        color: var(--color-second);
        gap: 17px;
        // border: 1px solid blue;
        width: 55%;
        h1 {
          font-size: 40px;
          margin-top: 80px;
          font-weight: bolder;
        }
        h2 {
          font-size: 23px;
          font-weight: bolder;
        }
        h3 {
          font-size: 22px;
          font-weight: 400;
        }
      }
      .hero__main__right {
        // border: 1px solid red;
        width: 45%;
        text-align: center;
        img {
          margin-bottom: -10px;
          width: 75%;
        }
      }
    }
  }
  .header__right {
    width: 25%;
    background-color: var(--color-third);
  }
}
