*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --color-main: #7DB434;
    --color-second: #202225;
    --color-third:#53713a;
    --color-white: #ffffff;
    --color-black:#000000;

}